* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
	transition: 0.4s;
	background-color: white;
}

.input {
	visibility: hidden;
}

.label {
	position: absolute;
	width: 80px;
	height: 40px;
	background-color: lightgray;
	border-radius: 20px;
	cursor: pointer;
	top: 10px;
	left: 10px;
}

.circle {
	width: 34px;
	background-color: white;
	height: 34px;
	border-radius: 50%;
	top: 3px;
	position: absolute;
	left: 3px;
	animation: toggleOff 0.4s linear forwards;
}

.input:checked + .label {
	background-color: white;
}

.input:checked + .label .circle {
	animation: toggleOn 0.4s linear forwards;
	background-color: black;
}

@keyframes toggleOn {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(40px);
	}
}

@keyframes toggleOff {
	0% {
		transform: translateX(40px);
	}
	100% {
		transform: translateX(0);
	}
}

.calculator {
	background-color: white;
	padding: 20px;
	max-width: 400px;
	width: 100%;
	border: solid 1px #ccc;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	margin-top: 40px;
	transition: background-color 0.4s, color 0.4s;
}

#result {
	width: 100%;
	padding: 10px;
	font-size: 24px;
	border: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: inherit;
	color: inherit;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

.button {
	padding: 20px;
	font-size: 24px;
	border: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
	background-color: #ddd;
}

.clear {
	background-color: #ff4136;
	color: #fff;
}

.number,
.decimal {
	background-color: #fff;
	color: #333;
}

.operator {
	background-color: #0074d9;
	color: #fff;
}

.equals {
	background-color: #01ff70;
	grid-row: span 3;
	color: #fff;
}

body.dark-mode {
	background-color: black;
}

body.dark-mode .calculator {
	background-color: #333;
	color: #fff;
}

body.dark-mode .button {
	background-color: #444;
	color: #fff;
}

body.dark-mode .button.clear {
	background-color: #ff4136;
	color: #fff;
}

body.dark-mode .button.operator {
	background-color: #0074d9;
	color: #fff;
}

body.dark-mode .button.equals {
	background-color: #01ff70;
	color: #fff;
}

body.dark-mode .button:hover {
	background-color: #555;
}
